#errorbox {
	width: 700px;
	height: 40px;

	display: none;
	padding: 5px;
	position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
.errorClose {
	right: 0px;
	top: 0px;
	position: absolute;
	font-size: 25px;
}
.error {
	background-color: rgb(255, 71, 71);
	border: 2px solid;
    border-radius: 10px;
    border-color: rgb(179, 46, 46);
}
.info {
	background-color: rgb(71, 71, 255);
	border: 2px solid;
    border-radius: 10px;
    border-color: rgb(46, 46, 179);
}