html, body{
	height:100%;
	font-family:arial;
}

h1{
	font-size:18px;
}

h3{
	font-size:16px;
}

body{
	position:relative;
	padding:0px;
	margin:0px;
	background:rgb(229, 229, 229);
}

#imgContainer{
	position:fixed;
	z-index:-2;
	top:164px;
	height:255px;
	width:100%;
	background:gray;
	border-top:1px solid black;
	border-bottom:1px solid black;
}

	.bgControl{
		background-image:url("../backgrounds/0.jpg");
		background-position: center top;
    	background-size: 100% auto;
		-webkit-background-size: cover;
		   -moz-background-size: cover;
			 -o-background-size: cover;
				background-size: cover;
	}
	#leftBgImg, #rightBgImg{
		width:50%;
		height:255px;
		position:absolute;
	}
	#leftBgImg{
		left:0px;
		margin-right:900px;
	}
	
	#rightBgImg{
		right:0px;
		margin-left:900px;
	}


#container{
	width:900px;
	min-height:100%;
	margin:auto;
	background:white;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
}

.banner{
	height:40px;
	width:910px;
	margin-left:-15px;
	padding:0px 0px 2px 20px;
	background:rgb(33, 168, 15);
	position:relative;
}

	.banner:before, .banner:after {
		content: "";
		display: block;
		width: 0;
		height: 0; 	
	}
	
	.banner:before {
		border-top: 20px solid transparent;
		border-bottom: 20px solid transparent;
		border-right: 25px solid rgb(0,102,0); 
		position: absolute;
		bottom: -20px;
		left: -0px;
		z-index:-1;
		
	}
	
	.banner:after { 
		border-top: 20px solid transparent;
		border-bottom: 20px solid transparent;
		border-left: 25px solid rgb(0,102,0); 
		position: absolute;
		bottom: -20px;
		right: -0px;
		z-index:-1;
}


#header{
	height:110px;

}

	#logo{
	position:absolute;
	margin:19px 0px 0px 17px;
	height:70px;
	}
	
	#colorChange{
		float:right;
		margin:5px 10px;
		height: 20px;
	}
	
		.cc{
			height:16px;
			width:16px;
			border:1px solid rgb(147,147,147);
			float:right;
			margin-left: 4px;
			cursor:pointer;
		}
		
			#cGreen{
				background-color:rgb(33, 168, 15);
			}
			
			#cBlue{
				background-color:rgb(19, 113,185);
			}
			
			#cPink{
				background-color:rgb(208, 20, 127);
			}
	
	#whenLoggedIn{
		float:right;
		margin:25px 10px 0px;
		clear:right;
	}
	
	#whenLoggedIn span{
		padding:0px;
		margin:0px;
		margin-right:1px;
		float:right;
		font-size: 12px;
		
	}
	#whenLoggedIn input{
		width:125px;
		height:19px;
		color:black;
		float:right;
		
		cursor:pointer;
		margin:5px 0px 0px 4px;
		background:rgb(126, 209, 114);
		border: 1px solid rgb(148,148,148);
	}
		#whenLoggedIn input:hover{
			background:#0C3;
		}
		
	#nav{
		}
	#nav h1{
		float:left;
		
		font-size:0.9em;
		color:white;
		font-weight:200;
		
		padding:3px 10px;
		border-left: 1px solid rgb(26, 134, 12);
		border-right: 1px solid rgb(77, 185, 63);
	}
		#nav h1:hover{
			text-decoration:underline;
		
		}
#tutorial{
	height:245px;
	padding:0px 10px;
}

#divInstruks1{
	margin-top:5px;

}

#divInstruks1 p{
	margin:0px;
	font-size:12px;

}

#content{
	/*height:250px;*/
	padding:0px 10px;
}
#content input{
		width:150px;
		height:19px;
		color:black;
		float:right;
		border:1;
		
		border:1px solid #ccc;
		
		cursor:pointer;
		margin:0px 0px 0px 0px;
		background:#ddffd5;
		border: 1px solid #ccc;
	}
	
#content table {
	width: 100%;
}
.ticket_div {
	border-radius: 4px;
	border: 2px solid #a1a1a1;
	padding: 5px;
}

#fade {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	margin: auto;
	display: none;

	background-color: rgba(0, 0, 0, 128);
}

#prompt {
	width: 500px;
	height: 600px;

	display: none;

	padding: 5px;
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    border-radius: 2px;
    border-color: rgb(40, 40, 40);
    background-color: rgb(255, 255, 255);
}

#totalPrice {
	font-weight:bold;
}
.row {
	position: absolute;
	/* padding: 1px; */
	min-height: 27px;
	min-width: 27px;
}
.taken { 
	background: red;
}
.free {
	background: green;
}
.current {
	background: gray;
}
/* Seatable tickets */
.ticket {
	border-style: solid;
	padding: 4px;
	margin: 4px;
}
.selectedTicket {
	background-color: gray;
}
.seat {
	width: 27px;
	height: 27px;
	padding: 2px;
	margin: 1px;
	color: rgb(255, 255, 255);
	font-size: 10px;
	text-align: center;
}
#seatmapCanvas {
	position: relative;
	border-style: solid;
	background-repeat: no-repeat;
    border-width: 1px;
    min-height: 1400px;
}
